.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: fit-content;
    border-radius: 25px;
    opacity: 0.4;
    font-family: "Montserrat", sans-serif;
    color: gray;
    padding: 6px;
    cursor: pointer;
}
.container:hover{
    opacity: 0.7;
}

.children{
    padding-right: 5px;
}

.cross{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
    cursor: pointer;
}
.crossLine1{
    background: black;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    transform: rotate(45deg) ;

}

.crossLine2{
    background: black;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    transform: rotate(-45deg);
  }