.container {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.myinput {
    width: 100%;
    background: none;
    padding: 8px;
    margin: 0 10px;
    font-size: 16px;
    border: 2px rgba(255, 255, 255, 0.1) solid;
    border-radius: 30px;
    transition: 500ms;
    text-align: center;
}
.myinput:hover {
    background: rgba(255, 255, 255, 0.188);
}
.myinput:focus {
    background: rgba(241, 241, 241, 0.904);
    padding: 15px;
}
.deleteItem {
    position: absolute;
    right: 20px;
}
