.cardproductlist{
    border-radius: 20px;
    width: 80%;
    margin: 10px 20px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
h2{
    font-family: "Fjalla One", sans-serif;
    font-size: 30px;
}
.empty{
    opacity: 0.6;
    text-align: center;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}
@media (max-width:768px){
    .cardproductlist{
        width: 90%;
        margin-top: 25%; 
    }
}