.background{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 0, 254, 0.1);
    border-radius: 20px;
    box-shadow: 
    0 0 7px rgba(157, 0, 255, 0.05),
    0 0 10px rgba(157, 0, 255, 0.05),
    0 0 21px rgba(132, 0, 255, 0.05),
    0 0 42px rgba(251, 0, 255, 0.01),
    0 0 82px rgba(251, 0, 255, 0.01);;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.input{
    padding: 14px 30px;
    font-size: 16px;
    border: 1px solid rgba(229, 0, 254, 0.1);
    border-radius: 20px;
    margin: 5px;
    font-family: "Open Sans", sans-serif;
    transition: 80ms;
}
.input:focus{
    padding: 16px 33px;
    font-size: 18px;
    box-shadow: 
    0 0 7px rgba(157, 0, 255, 0.05),
    0 0 10px rgba(157, 0, 255, 0.05),
    0 0 21px rgba(132, 0, 255, 0.05),
    0 0 42px rgba(251, 0, 255, 0.01),
    0 0 82px rgba(251, 0, 255, 0.01);;
}

.button{
    cursor: pointer;
    border: 1px solid #cb11ab;
    padding: 14px 30px;
    border-radius: 200px;
    color: #fff;
    background: #cb11ab;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 5px;
    transition:200ms;
}

.button:hover{
    background: #fff;
    color: #115dd8;
}
.fullfilled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.message{
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}