.title{
    padding: 14px 30px;
    color: #cb11ab;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    transition:200ms;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    font-size: 24px;
}
