.productlist{
overflow: scroll;
margin: 0 auto;
}
.loadErrorMassage{
    width: 50%;
    height: 20%;
    font-size: 30px;
    color: red;
    text-align: center;
    border: 2px solid rgba(255, 0, 0, 0.467);
    border-radius: 20px;
    padding: 50px; 
    margin: 0 auto;
    
}
@media (max-width: 768px){

}
@media (min-width: 768px)  {
    .productlist{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1150px)  {
    .productlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80%;
        margin: 0 auto;
    }
}

